<div class="g-hd">
    <div class="m-contact f-cb">
        <div class="name"><img src="/images/name1.png"/></div>
        <div class="phone">
            <div class="img">
                <img src="/images/phoney.png"/>
            </div>
            <div class="txt">
                <p>服务热线：13736804020</p>
            </div>
        </div>
    </div>

    <div class="m-nav">
        <ul>
            <li><a href="/">网站首页</a></li>
            <li><a href="/summary">公司介绍</a></li>
            <li><a href="/product">服务项目</a></li>
            <li><a href="/contact">联系方式</a></li>
        </ul>
    </div>
    <div class="m-slide m-slide-x" id="j-slide">
        <ol>
            <li class="z-crt"><a href="#"><img src="/images/11.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/22.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/33.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/44.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/55.jpg" alt=""/></a></li>
        </ol>
        <span class="u-pointer u-pointer-rt"><i class="z-crt"></i><i></i><i></i><i></i><i></i></span>
    </div>
</div>