<!DOCTYPE html>
<head>
<meta name="keywords" content=" 桐乡，新朋友，家政, 保洁, 家政服务, 保洁服务 ">	
<title>桐乡新朋友家政保洁</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% include module/head.ejs %>
	<div class="g-bd f-cb">
		<% include module/side.ejs %>
        <div class="g-mn">
			<div class="main">
				<h3>服务项目介绍</h3>
				<div class="mainbox">
					<ul class="">
						<li><a class="catnav" name="A0" id="A0">开荒保洁</a></li><br>
							开荒保洁一般是指新房装修（粉刷）后的第一次保洁，因此也称装修后保洁。开荒保洁是最重要的首次保洁，选择正规的保洁公司或团队操作不会造成死角遗漏并给你良好保障。开荒保洁需要遵循一定的顺序并需要注意如下事项：<br>
							1. 开荒保洁是由上到下的顺序全面除尘，避免二次污染。 <br>     
							2. 擦玻璃：先用毛巾把玻璃框擦拭干净，再用涂水器沾稀释后的玻璃水溶液，均匀的从上到下涂抹玻璃，有顽固的污渍用铲刀清除干净，再重复以上工序后用刮子从上到下刮干净，或用专业玻璃器（推荐）。用干毛巾擦净框上留下的水痕，玻璃上的水痕擦拭干净。<br>         
							3. 卧室及大厅：墙壁用掸子或是吸尘器做除尘处理，擦拭灯具（一般保洁公司不会负责）、开关盒、排烟置、空调口、排风口等。 <br>     
							4. 门及框：分清门的材质，用专业清洁剂稀释后，用毛巾擦拭，程序也是从上到下，把毛巾叠成方块，从门的顶部开始从左到右的擦拭，不能有遗漏，有胶渍的地方可用除胶剂做处理；框的程序同门；一定要做到无遗漏、无死角。<br>      
							5. 卫生间：坚持由上而下的原则，首先要明确卫生间顶子的材质，是PVC的或是铝塑板还是涂料的，再根据不同的材质用不同的清洁方法进行；用上水器清洗及专业保洁用具清洗卫生间的墙壁，着重瓷砖的缝隙，和瓷砖表面上遗留的胶迹、涂料点、水泥渍等；用毛巾清洁卫生间的洁具，着重对各种水龙头、管件进行清洁；用保洁专用工具对地面进行最后的清洁，由其是地面的边角，用清洁球和云石铲刀对角落进行针对性的除污、去除水泥渍等；最后，检查无遗漏后，再用干毛巾把水龙头等管件擦拭一遍。<br>     
							6. 厨房：程序同上。注意：因厨房里的不锈钢管件比较多，应是清洁重点。<br>
							7. 地面的清洗：把所有的做完以后，就是地面的清洗了，地面也要分材质，是木地板的、还是瓷砖的、或是石材的，当分清后就选择专用清洁剂稀释后，开始清洗。地面上的胶渍可用专用工具或药剂清除。<br>     
							8. 地脚线：地脚线的材质要辨认清楚用毛巾擦拭，用专用工具去掉各种胶迹、涂料点等。<br>
							9. 最后一道工序做完后，应由领班全面检查一遍后，确认无遗留后撤离现场工程开荒虽不是多大技术含量的工作，但是需要专业人员更多的经验去操作才会把完美的环境摆在您的面前。<br>
							工程开荒虽不是多大技术含量的工作，但是需要专业人员更多的经验去操作才会把完美的环境摆在您的面前，让你身心愉快入住是我们工作的最大目标。<br><br>
						<li><a class="catnav" name="A1" id="A1">木材/石材保养</a></li><br>
							<h4>木材保养</h4>
							木头是一种天然材质，虽然已经被制成家具，但并不因此而丧失 活体植物的特性。木质家具具备特有的浸透性和吸收性，很容易随着环境温度的变化而产生材质上的变异。许多拥有原木家具的消费者，总是只在新鲜之初会为原木家具擦擦抹抹，时间一久也就懒得理会。事实上，想让家具常保如新、长效使用，平时的清洁保养工作就不可少，否则一旦出现大损伤时，那可就是个大麻烦了。原木家具的保养需要遵照下面几个原则：<br>
							一、注意摆设位置原木家具应避免放置在除湿机旁，以及可照射到太阳的地方。<br>  
							二、避免液体常留表面若原木家具的表面是未经特殊处理，那麽长时间驻留的水、酒精等液体会使家具留下白色痕迹。因此当家具表面有液体存留时，必须立即擦拭干净保持干燥。<br>  
							三、清洁与保养你所购买的原木家具，是否应采上油或打蜡保养方式，在购买家具时，必须向商家询问清楚。如果是采打蜡保养的家具，在选购蜡时，最好选择浓度高的固态蜡，它可以填平家具上的小缺陷。此外，喷雾蜡也是不错的选择。但千万不要两者一起使用，否则会使得家具表面一片模糊，不再光亮。<br>
							当使用一段时间之后，建议每2个月做一次保养工作。<br>
							<h4>石材保养</h4>
							石材保养应根据石材表面处理方式不同，选择相应的石材保养方式。<br>
							经抛光加工的石材表面已趋於致密，石材内含之发色组织亦因此而展现出较原来表面更浓烈的色泽变化，能营造出细致且富丽堂皇的效果，因此，其保养的目的大体上仍以维护石材表面之色泽的鲜明度及光泽的明亮度为主。较常见的保养施作重点为防护处理，上腊，增艳，再抛光处理，破损之补平补强，污染去除处理等；<br>
							相对的，粗糙化处理(烧焰处理，凿刻处理均属此类)之石材表面，所欲表达的是粗矿原始的感觉或做为光面板材的拼花对比。其较常见的保养仍以糙面的再生，污染去除，防水处理(应选择不会形成表面披覆膜且不增艳之防护材料)及破损之补强为主，而勿需进行增艳，因为有部份之防护材料或化学处理剂，可能导致糙面石材颜色加深，若用在粗细板拼花之场合，有可能使光板及糙板色泽拉近，破坏原有之设计。同样地，光面保养亦不适用於糙面石板。因此，业主在选择保养项目时，应审慎考量，评估，以免花钱保养却得不到最好的效果。<br>
							注意事项：<br>
							一、不可随意上腊。市场上的腊种类凡多，有水性腊、硬脂酸腊、油性腊、亚克力腊等等。这些腊基本上都含酸碱物质。不但会堵塞石材呼吸的毛细孔，还会沾上污尘形成腊垢，造成石材表面产生黄化现象。但若行人及货物流通频率极高的场所必须上腊时，则必须请教专业石材保养公司指导用腊及保养。<br>
							二、不可乱用非中性清洁剂。为求快速清洁效果，一般清洁剂均含有酸碱性，故若长时间使用不明成份的清洁剂，将会使石材表面光泽尽失，且因非中性药剂的残留也是日后产生石材病变的主因。<br>
							三、不可长期覆盖地毯，杂物。为保持石材呼吸顺畅，应避免在石材面上长期覆盖地毯及杂物，否则的话石材下湿气无法通过石材毛细孔挥发出来。则石材会因湿气过重，含水量增高而产生恼人的石材病变问题如您一定要铺设地毯，堆置杂物，请别忘了要常更动。<br><br>
						<li><a class="catnav" name="A2" id="A2">空调/抽油烟机等清洗</a></li><br>		
							空调比马桶还脏，使用一年后有300多种有害细菌在内部滋生，污染室内空气，引发呼吸道疾病和过敏性皮炎；<br>吸油烟机油垢堆积，影响美观，更影响排油烟效果，还易引发火灾；<br>饮水机、热水器产生大量水垢等重金属，犹如慢性毒药危害人体；<br>洗衣机越洗越脏，一年产生半斤污垢，污垢中潜藏金黄色葡萄球菌、白色念珠菌、深红酵母菌等，通过衣物直接危害人体皮肤，对女性生殖系统健康危害更大！<br>家用电器定期清洗保养对人体健康，居住安全至关重要，新朋友对各品牌空调/抽油烟机/饮水机/洗衣机等家用电器进行专业的清洗和保养。<br><br>		
		        <li><a class="catnav" name="A3" id="A3">地毯/沙发等清洗</a></li><br>
		        	<h4>地毯清洗</h4>
		        	地毯需要经常吸尘清洗保洁，因为尘埃藏积在地毯内，会对纤维造成磨损，并且使地毯的颜色变得灰暗，在楼梯、大厅、走廊和走动频繁的地方，每周应地毯清洗吸尘保洁两至三次，卧室也应至少每周吸尘保洁一次。 地毯上的污物主要有几大类，其一为尘土及其他颗粒物质，其二为污垢和油渍及其他化学物质。前者可采用定期吸尘保洁清洗即可解决，对后者则需用化学溶剂，并需专业人员指导进行地毯清洗保洁，如果用法不当，反使污渍扩散，须谨慎从事。<br>
							地毯清洗使用中应注意的问题：<br> 
							1、新的开绒地毯使用初期会有轻微伏毛出现，属正常现象。 <br>
							2、地毯清洗中地毯表面谨防利器刮蹭及烟头烫伤。 <br>
							3、地毯出厂时大都做过防蛀处理，无须放置防虫剂而对地毯及人体产生危害。<br> 
							4、地毯上撒落污渍，应及时清洗，时间长了将难以去除。<br> 
							5、地毯铺上一段时间后，会有大量细菌及一种叫蜱螨的生物大量繁殖于其上，直接危害人体健康，所以应定期二至三个月进行全面地毯清洗消毒。<br> 
							6、为了不把尘土带入地毯区域，应在入口处设置去尘毯垫。<br> 
							地毯清洗步骤一: 清洁前请将赃污区域的污渍移除。<br> 
							地毯清洗步骤二: 使用大量蘸水的干净海绵或是湿布来吸附污渍处。<br> 
							地毯清洗步骤三: 请您使用地毯专用清洁剂，将清洁剂喷在干净的海绵或是湿布上，我们建议尽量不要直接喷在地毯上。<br> 
							地毯清洗步骤4:再用湿的冷水或是温水蘸。 <br>
							地毯清洗步骤5：使用干净的干布或是冷风吹干。<br>
		        	<h4>沙发清洗</h4>
							办公室和会议室里沙发的使用率很高，因此需要对其进行定期的清洗和保养，以延长其使用寿命。<br>
							一般的沙发清洗分为干泡清洗和深层清洗两种，操作中应根据沙发表面不同污垢及材质选用不同清洁剂进行清洗。深层清洗：先对沙发表面进行除尘，再用专业板刷加浓清洗剂对沙发表面比较顽固的污垢进行擦洗，接着用专业洗沙发机器进行全面第二道刷洗，最后用吸水机全面吸干水分。干泡清洗：先对沙发表面进行除尘，再用加入清洁剂的沙发干洗机对沙发浅层污垢的表面进行均匀打泡刷洗，（边打泡边清洗）最后再用吸水机全面吸干水分。<br>
							注意：如遇皮革沙发清洁，只适合干洗方式。干燥后，沙发需要上蜡。<br><br>
	        	<li><a class="catnav" name="A4" id="A4">各项家政服务</a></li><br>
	        	  其他各项家政服务请致电服务热线13736804020详询。
      		</ul>
				</div>
         	</div>
        </div>
	</div>
	<% include module/foot.ejs %>
<script type="text/javascript" src="/javascripts/index.js"></script>  
</body>
</html>
