<!DOCTYPE html>
<head>
<meta name="keywords" content=" 桐乡，新朋友，家政, 保洁, 家政服务, 保洁服务 ">	
<title>桐乡新朋友家政保洁</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% include module/head.ejs %>
	<div class="g-bd f-cb">
		<% include module/side.ejs %>
        <div class="g-mn">
			<div class="f-cb">
				<div class="intr">
					<h3>公司介绍</h3>
					<div class="intrbox">
						<div class="img"><a href="#"><img src="/images/t1.jpg"></a></div>
						<div class="txt">
		                    <p>  桐乡市新朋友家政保洁服务有限公司是经桐乡市工商管理局正式注册批准，竭诚致力于清洗保洁的专业性清洗保洁公司。我司面向社会各机关、团体、宾馆、酒店、写字楼、娱乐场所、家庭等提供全方</p>
		                </div>
						<p>位的清洗保洁服务商，开展新大楼竣工、装饰后全套清洗保洁；各种石材地板清洗打蜡、翻新、结晶、养护技术；外墙清洗等；各种地毯的清洗护理；酒店大型厨房烟道防火清洗等。</p>
					</div>
		        </div>
		        <div class="event">
	            	<h3>新朋友动态</h3>
	            	<ul>
						<li><a href="#">桐乡市新朋友家政保洁服务公司成立</a></li>
						<li><a href="#">桐乡市新朋友家政保洁服务公司介绍</a></li>
						<li><a href="#">领导介绍</a></li>
					</ul>
	            </div>
        	</div>
            <div class="scene">
            	<h3>服务现场</h3>
            	<div class="picbox" id="picbox">
	             	<ul class="f-cb">
	             		<li><a href="#"><img src="/images/b1s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b2s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b3s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b4s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b5s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b6s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b7s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b8s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b1s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b2s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b3s.jpg" alt=""/></a></li>
						<li><a href="#"><img src="/images/b4s.jpg" alt=""/></a></li>
	             	</ul>
             	</div>
         	</div>
        </div>
	</div>
	<% include module/foot.ejs %>
<script type="text/javascript" src="/javascripts/index.js"></script>  
</body>
</html>
