<div class="g-sd">
    <div class="product">
        <h3>服务项目</h3>
        <ul class="">
            <li><a href="/product#A0">开荒保洁</a></li>
            <li><a href="/product#A1">木材/石材保养</a></li>
            <li><a href="/product#A2">空调/抽油烟机等清洗</a></li>
            <li><a href="/product#A3">地毯/沙发等清洗</a></li>
            <li><a href="/product#A4">各项家政服务</a></li>
        </ul>
    </div>
    <div class="contact">
        <h3>联系我们</h3>
        <ul class="">
            <li>服务热线：<span>13736804020</span></li>
            <!--li>服务监督电话：<span>0573-88667678</span></li-->
            <li>联系人：薄国强先生</li>
            <li>邮箱：txboguoqiang@163.com</li>
            <li>地址：桐乡市梧桐街道体育西路950号</li>
        </ul>
    </div>
</div>